<h1>Star Wars Planets List {{ (planets$ | async)?.length }}</h1>

<input
  type="text"
  placeholder="Search planets..."
  (input)="searchText.next($any($event.target).value)"
/>

<div>
  Filtre sélécetionne : {{ selectedFilter | async }}

  <button type="button" (click)="selectedFilter.next(null)">Clear Filter</button>
</div>
<br />
<br />
<div class="filters-container">
  @for (terrainType of terrainTypes$ | async; track terrainType) {
  <button type="button" (click)="selectedFilter.next(terrainType)">{{ terrainType }}</button>
  }
</div>

<br /><br />

<h3>Climates Distribution</h3>
@if (climateChartData$ | async; as chartData) {
<div style="display: block; width: 400px; height: 400px">
  <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="'pie'"> </canvas>
</div>
}

<h3>Populations Distribution</h3>
@if (populationChartData$ | async; as chartData) {
<div style="display: block; width: 600px; height: 400px">
  <canvas baseChart [data]="chartData" [options]="populationChartOptions" [type]="'bar'"> </canvas>
</div>
}

<h3>Gravities Distribution</h3>
@if (gravityChartData$ | async; as chartData) {
<div style="display: block; width: 600px; height: 400px">
  <canvas baseChart [data]="chartData" [options]="populationChartOptions" [type]="'bar'"> </canvas>
</div>
}

<h3>Planètes filtrées ({{ (filteredPlanets$ | async)?.length }})</h3>
@for (planet of filteredPlanets$ | async; track planet.name) {
<fieldset>
  <legend>Planet Details</legend>
  <div>
    <h3>{{ planet.name }}</h3>
    <div>
      <ul>
        <li>Population: {{ planet.population }}</li>
        <li>Climate: {{ planet.climate }}</li>
        <li>Terrain: {{ planet.terrain }}</li>
      </ul>
    </div>
  </div>
</fieldset>
}
